<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the campgrounds</title>
</head>
<body>
    
    <h1>View all your Campgrounds Here</h1>
    <header><button><a href="/campgrounds/new">New Campground</a></button></header>
    <% for(let campground of campgrounds) {%>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
    <%}%>
</body>
</html>